<div class="h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Nouvel Admin</h2>
    <form [formGroup]="frmGroupUser"  (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="nom" class="block text-sm font-medium text-gray-600 mb-1">Nom</label>
        <input
          formControlName="nom"
          type="text"
          id="nom"
          placeholder="Nom"
          class="{{ nom?.invalid && (nom?.touched || nom?.dirty) ? 'border-2 border-rose-600':'border border-gray-300' }}w-full px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent"
        >
        <div *ngIf="nom?.invalid && nom?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le nom est requis </span>
        </div>
      </div>
      <div class="mb-6">
        <label for="prenom" class="block text-sm font-medium text-gray-600 mb-1">Prénom</label>
        <input
          formControlName="prenom"
          type="text"
          id="prenom"
          class="{{ prenom?.invalid && (prenom?.touched || prenom?.dirty) ? 'border-2 border-rose-600':'border border-gray-300' }} w-full px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent"
          placeholder="Prénom">
        <div *ngIf="prenom?.invalid && prenom?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le prénom est requis </span>
        </div>
      </div>
      <div class="mb-6">
        <label for="email" class="block text-sm font-medium text-gray-600 mb-1">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
            class="{{ email?.invalid && (email?.touched || email?.dirty) ? 'border-2 border-rose-600':'border border-gray-300' }} w-full px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent"
          placeholder="Email">
        <div *ngIf="email?.invalid && email?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* L'adresse mail  et valide est requise </span>
        </div>
      </div>
      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-600 mb-2">Rôle</label>
        <div class="flex items-center">
          <input
            type="radio"
            formControlName="role"
            id="admin"
            value="Admin"
            class="mr-2"
          >
          <label for="admin" class="mr-4 text-gray-700">Admin</label>
          <input
            type="radio"
            formControlName="role"
            id="redac"
            value="Redac"
            class="mr-2"
          >
          <label for="redac" class="text-gray-700">Redac</label>
        </div>
      </div>
      <div class="flex items-center justify-between">
       <app-submit-button [label]="label" [disabled]="!frmGroupUser.valid"></app-submit-button>
      </div>
    </form>
  </div>
</div>
