<div class="w-full h-full">
  <p-card class="my-3 w-full h-full">
    <ng-template pTemplate="header">
      <div class="flex justify-between items-center pt-4">
        <h5 class="m-0 uppercase md:text-2xl text-emerald-700">
          <i class="pi pi-gauge px-3 text-xl"></i>à venir
        </h5>
      </div>
    </ng-template>

    <div class="w-full h-full">
      <iframe
        class="w-full h-[400px] border-none"
        src="https://www.fctables.com/cameroon/1-division/iframe/?type=league-scores&lang_id=3&country=36&template=263&team=180100&timezone=UTC&time=24&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&scoreb=f4454f&scorefc=FFFFFF&sgdcoreb=8f8d8d&sgdcorefc=FFFFFF&sh=1&hfb=1&hbc=3bafda&hfc=FFFFFF"
        loading="lazy"
        title="à venir"
        allowfullscreen></iframe>
    </div>
  </p-card>
</div>
