<div class="h-screen bg-indigo-100 flex items-center justify-center">
  <div class="bg-white p-4 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-3xl font-bold text-indigo-800 text-center mb-2">
      <i class="pi pi-sign-in"></i> Login
    </h2>

    <form [formGroup]="frmLogin" (ngSubmit)="onSubmit()">
      <div class="mb-4 grid">
        <div class="col-12">
          <label for="email" class="block text-indigo-700 mb-2">Email</label>
          <span class="p-input-icon-left w-full">
            <i class="pi pi-envelope"></i>
            <input
              pInputText
              id="email"
              type="email"
              formControlName="email"
              class="w-full"
              placeholder="votre@email.com"
            />
          </span>
        </div>
        <div class="col-12">
          <label for="password" class="block text-indigo-700 mb-2">Mot de passe</label>
        <span class="p-input-icon-left w-full">
          <i class="pi pi-lock"></i>
          <input
            type="password"
            pPassword
            formControlName="password"
            feedback="false"
            class="w-full"
            placeholder="Mot de passe"
          />
        </span>
        </div>

      </div>

      <div class="mb-4">

      </div>

      <div class="flex items-center justify-between mb-4">
        <p-checkbox
          inputId="remember"
          binary="true"

          class="mr-2"
        ></p-checkbox>
        <label for="remember" class="text-indigo-800 text-sm">Se souvenir de moi</label>
        <a href="#" class="text-indigo-600 text-sm hover:underline ml-auto">Mot de passe oublié?</a>
      </div>

      <div *ngIf="erreur" class="text-red-500 font-bold mb-4">
        * {{ erreur }}
      </div>

      <button
        pButton
        type="submit"
        label="Se connecter"
        class="w-full p-button-rounded-md p-button-lg p-button-primary"
      ></button>
    </form>
  </div>
</div>
