::ng-deep .custom-menubar .p-menuitem-link,
::ng-deep .custom-menubar .p-menuitem-text,
::ng-deep .custom-menubar .pi {
  color: green !important;
  fill: white !important;
}

/*:ng-deep .custom-menubar .p-menubar-button {
  color: green !important;
  fill: white !important;
}*/

::ng-deep .custom-menubar .p-submenu-list {
 /*background-color: bg-green-300 !important;  /*Example: slate-800*/
 min-width: 250px !important;  /*Enlarge width*/
  /*color: #ccc !important;*/
}

