  <p-menubar
      #menubar
      [model]="items"
      autoZIndex="true"

      styleClass="w-full text-gray-100 bg-green-700  shadow-lg custom-menubar px-4 py-2 fixed top-0 z-50 rounded-none border-none"
      [style]="{'color': 'white', 'background-color': '#1f2937', 'width': '100%'}">
      <ng-template pTemplate="start">
        <div class="flex-shrink-0">
          <a [routerLink]="'/accueil'" rel="noopener noreferrer">
            <span class="p-text-4xl p-font-bold p-mr-6 text-amber-400 uppercase">Camer-sp<i class="pi pi-bullseye"></i>rt</span>
          </a>
        </div>
      </ng-template>

      <ng-template pTemplate="end">
        <div class="hidden md:flex items-center gap-2">
          <form #searchForm="ngForm" (ngSubmit)="submitSearch()">
            <input
              type="text"
              pInputText
              name="q"
              [(ngModel)]="searchQuery"
              placeholder="Recherche"
              class="p-inputtext-sm text-black rounded"
            />
            <button
              pButton
              type="button"
              icon="pi pi-search"
              class="p-button-text"
              (click)="submitSearch()"
            ></button>
          </form>
        </div>

      </ng-template>
  </p-menubar>



