<div class="flex flex-column md:flex-row gap-2 mt-3">
  <div class="col-12 md:col-8">
    <app-carousel *ngIf="slicedArticles.length>0" [carouselItems]="slicedArticles" class="hidden md:block"></app-carousel>
    <section>
     <app-camer [camerArticles]="news"  [titre]="labelCompetition"  class="mb-5"></app-camer>
    </section>

     <p-card *ngIf="randomNumber===1">
          <app-ads
          [adClient]="'ca-pub-8638642715460968'"
          [adFormat]="'auto'"
          [adSlot]="'6927429462'"
          fullWidthResponsive="true"
          styleClass="bg-gray-500 mt-3 border-round mb-4 text-center"
          [adStyle]="{ display: 'block' }"

        />
        <!-- <app-taboola />-->

      </p-card>
      <app-viralize [zId]="'AAF07vSJ870tXKha'" class="bg-amber-700 mt-3" *ngIf="randomNumber===0"></app-viralize>
     <section class="grid md:mt-4">
        <app-not-camer [notcamer]="otherNews" class="mb-3"></app-not-camer>
     </section>
  </div>
  <div class="col-12 md:col-4">
    <app-classement/>
  </div>
</div>
<p-scroller></p-scroller>

