<section class="flex align-items-center h-screen p-8 surface-50">
  <div class="container flex flex-column align-items-center">
    <div class="flex flex-column gap-6 max-w-30rem text-center">
      <p><i class="pi pi-times-circle text-red-600 text-xl md:text-2xl text-700"></i></p>
      <h2 class="font-bold text-9xl text-600 m-0">
        <span class="sr-only"></span>401
      </h2>
      <p class="text-xl md:text-2xl text-700 m-0 text-red-600">
        Pas autorisé.
      </p>
    </div>
  </div>
</section>


