<div class="h-screen flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-center">Nouvelle Compétition</h2>
    <form [formGroup]="frmGroupCompetition"  (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="competition" class="block text-sm font-medium text-gray-600 mb-1">Compétition</label>
        <input
          formControlName="competition"
          type="text"
          id="competition"
          placeholder="Competition"
          class="{{ competition?.invalid && (competition?.touched || competition?.dirty) ? 'border-2 border-rose-600':'border border-gray-300' }} w-full px-3 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-transparent"
        >
        <div *ngIf="competition?.invalid && competition?.touched" class="my-1 px-1 py-1 text-red-600">
          <span>* Le nom est requis </span>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <app-submit-button [label]="label" [disabled]="!frmGroupCompetition.valid"></app-submit-button>
      </div>
    </form>
  </div>
</div>
