<div class="flex flex-col md:flex-row md:items-center md:justify-between md:mb-2">
  <h2 class="text-xl font-bold mb-4 md:mb-0 uppercase">{{label}}</h2>
  <a
    [routerLink]="routerLinkSignal()"
    class="bg-red-500 flex text-white px-4 py-2 rounded hover:bg-red-600">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    Nouveau
  </a>
</div>

