<div class="flex flex-column md:flex-row gap-2">
  <div class="col-12 md:col-8 my-3">

    <div class="h-full">
      <article itemscope itemtype="https://schema.org/NewsArticle">
        <p-card *ngIf="isBrowser" styleClass="px-3 md:py-4">
          <ng-template pTemplate="header">
              <!-- <div class="text-sm font-bold uppercase">{{ article.titre }}</div>
              <div class="text-right text-sm text-500 mt-1">
                {{ article.date_parution | date: 'dd MMM yyyy HH:mm:ss' }}
              </div> -->
                <h2 class=" md:text-3xl font-bold  uppercase " style="line-height: 1.7;" itemprop="headline">
                  {{ article.titre }}
                </h2>
                <p-divider

                ></p-divider>
                <div class="flex flex-wrap md:flex-nowrap gap-3 text-sm  text-gay-200 md:mb-4 capitalize">
                  <div class="flex items-center gap-1" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <i class="pi pi-user"></i>
                    <span itemprop="name">{{ article.auteur }}</span>
                  </div>
                  <div class="flex items-center gap-1">
                    <i class="pi pi-calendar-plus text-cyan-600"></i>
                    <time itemprop="datePublished" [attr.datetime]="article.date_parution">
                    <span>{{ article.date_parution | date: 'dd MMM yyyy HH:mm:ss' }}</span>
                    </time>
                  </div>
                  <div class="flex items-center gap-1">
                    <i class="pi pi-eye"></i>
                    <span>{{ article.hit }}</span>
                  </div>
                  <div class="flex items-center gap-1 text-green-700 font-bold uppercase">
                    <a
                      class="hover:text-blue-600 hover:underline transition-colors duration-200"
                      itemprop="about"
                      #competition
                      ariaLabel="{{ article.competition.competition }}"
                      [routerLink]="['/competitions',slugCompetition]">

                      <i class="pi pi-tag mr-2"></i>
                      <span>{{ article.competition.competition }}</span>
                    </a>

                  </div>
                </div>
                <!-- <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                  <p-image
                    [src]="article.images.url || 'assets/placeholder.jpg'"
                    alt="{{ article.titre }}"
                    styleClass="w-full h-[500px] object-cover overflow-hidden rounded-md"
                    [preview]="true"
                    [style]="{ 'border-radius': '0.5rem' }"

                    >
                    <meta itemprop="url" [attr.content]="article.images.url">
                    <meta itemprop="width" content="500">
                    <meta itemprop="height" content="500">
                    <ng-template pTemplate="indicator">
                      <i class="pi pi-search-plus"></i>
                    </ng-template>
                  </p-image>
                </figure> -->
                <figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                  <img
                    [ngSrc]="article.images.url || 'assets/placeholder.jpg'"
                    [width]="article.images.width"
                    [height]="article.images.height"
                    alt="{{ article.titre }}"
                    class="w-full h-[{{article.images.height}}px] object-cover rounded-md"
                    loading="lazy"
                    fetchpriority="high"
                  />
                  <meta itemprop="url" [attr.content]="article.images.url">
                  <meta itemprop="width" content="{{ article.images.width }}">
                  <meta itemprop="height" content="{{ article.images.height }}">
                </figure>

            </ng-template>
            <div style="line-height: 1.8;"
              itemprop="articleBody"
              class="text-justify md:text-xl text-gray-500 prose md:prose-lg lg:prose-xl"
              [innerHTML]="sanitizer.bypassSecurityTrustHtml(article.article)"
              >
              <app-social-share [hashtags]="socialShare.hashtags" [url]="socialShare.url" [title]="socialShare.title" />
            </div>
            <p-divider></p-divider>
            <app-social-share [hashtags]="socialShare.hashtags" [url]="socialShare.url" [title]="socialShare.title" />
            <app-viralize [zId]="'AADZ292NV-IHr4M_'" class="bg-amber-700 py-4" ></app-viralize>
            <!-- <div
              style="line-height: 1.8;"
              class="text-justify md:text-xl text-gray-500 prose md:prose-lg lg:prose-xl"
              [innerHTML]="sanitizer.bypassSecurityTrustHtml(article.article)"
              >

            </div> -->
            <p-panel  [toggleable]="false" *ngIf="(filteredArticles?.length ?? 0) > 0">
            <ng-template pTemplate="header">
              <i class="pi pi-list mr-2"></i>
              <span class="text-emerald-800 font-bold uppercase">{{ article.competition.competition }}<i class="pi pi-trophy ml-2"></i> Articles similaires</span>
            </ng-template>


            <p-dataView
              [value]="filteredArticles"
              [paginator]="true"
              [rows]="5"
              [rowsPerPageOptions]="[3, 6, 9]"
              [layout]="'grid'"
              >
              <ng-template pTemplate="grid" let-filteredArticles>
                <div class="card p-2 text-white" >

                <div class="flex flex-column gap-3">

                  <div *ngFor="let article of filteredArticles" class="flex align-items-center p-3 border-1 surface-border border-round mb-2 transition-all transition-duration-300 cursor-pointer uppercase hover:shadow-[0_0_25px_rgba(86,171,47,0.4)]" style="background: linear-gradient(135deg, #032e1e, #56ab2f);">

                    <div class="mr-3">
                      <p-avatar alt="article.titre" [image]="article.images?.url" styleClass="mr-2" size="xlarge" shape="circle" [ariaLabel]="article.titre"></p-avatar>
                    </div>

                    <!-- Contenu avec titre cliquable -->
                    <div class="flex-1">
                      <div class="flex flex-column">
                        <h3 class="text-sm text-gray-100 m-0 p-0  cursor-pointer" (click)="gotoArticle(article.slug)" pRipple>
                          {{ article.titre }}
                        </h3>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </ng-template>

            </p-dataView>

            <p-scrollTop />
          </p-panel>
        </p-card>

      </article>
      <app-taboola></app-taboola>
    </div>

  </div>
  <div class="col-12 md:col-4 my-0">
    <app-categorie-must-readed *ngIf="isBrowser" [mustReadedCategorie]="categorieMustReaded" [mustReadedLabel]="article.categorie.categorie"/>

    <p-card class="my-3" styleClass="h-full">
          <app-ads
          [adClient]="'ca-pub-8638642715460968'"
          [adFormat]="'auto'"
          [adSlot]="'6927429462'"
          fullWidthResponsive="true"
          styleClass="bg-gray-500 mt-3 border-round mb-4 text-center"
          [adStyle]="{ display: 'block' }"

        />
        <!-- <app-taboola />-->

    </p-card>

    <app-competition-must-readed *ngIf="isBrowser" [mustReadedCompetition]="competitionMustReaded" [mustReadedLabel]="article.competition.competition"/>
    <app-classement></app-classement>
  </div>


</div>
