<div class="flex flex-column md:flex-row gap-2 mt-3">
  @if(articles.length > 0){
    <div class="col-12 md:col-8">
      <app-camer [camerArticles]="articles"  [titre]="competitionLabel" class="mb-5"></app-camer>
      <p-divider></p-divider>
      <section class="grid md:mt-4">
        <app-not-camer [notcamer]="otherNews" class="mb-3"></app-not-camer>
     </section>
    </div>
    <div class="col-12 md:col-4">
      <app-classement/>
    </div>
  }
  @else{
    <div class="col-12 md:col-8">
      <app-competition-not-found></app-competition-not-found>
    </div>
    <div class="col-12 md:col-4">
      <app-classement/>
    </div>
 }
</div>


