<p-dataView #dv
  [value]="notcamer"
  [rows]="5"
  [paginator]="true"
  [styleClass]="'ml-2'"
  [totalRecords]="notcamer.length"
  >
  <ng-template pTemplate="header">
    <div class="flex justify-between align-items-center mb-4">
      <h5 class="m-0 uppercase md:text-2xl text-emerald-700">
        <i class="pi pi-globe mr-2 text-xl"></i>ailleurs
      </h5>
    </div>
  </ng-template>
  <!-- Template pour quand il n'y a pas de données -->
  <ng-template pTemplate="emptymessage">
    <div class="p-4 text-center text-500">
      Aucun article international disponible
    </div>
  </ng-template>

  <ng-template pTemplate="list" let-notcamer>

    <div class="grid grid-nogutter">
      <div class="col-12" *ngFor="let item of notcamer; let first = first" class="col-12">
        <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 relative" [ngClass]="{ 'border-top-1 surface-border': !first }">
          <div class="md:w-10rem">
            <img class="block xl:block mx-auto border-round w-full" [src]="item.images?.url  || 'assets/placeholder.jpg'" [alt]="item.titre" />

          </div>
          <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
            <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
              <div>
                <p-chip label="{{ item.categorie.categorie }}" />

                <div class="text-lg font-medium text-900 mt-2">{{ item.pays.pays }}</div>
              </div>
            </div>
            <div class="flex flex-row md:flex-column justify-content-between align-items gap-2">
              <div class="text-xl  font-semibold text-800 uppercase">{{ item.titre }}</div>
            </div>
            <div class="flex flex-row md:flex-column justify-content-between align-items-end gap-2">
              <p-button ariaLabel="Lire" title="Lire" label="Lire" icon="pi pi-arrow-right" [routerLink]="['/article', item.slug]" class="p-button-outlined p-button-success"></p-button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-template>

</p-dataView>
<p-divider></p-divider>
<p-card
  class="my-3">
  <ng-template pTemplate="header">
    <div class="flex justify-between align-items-center pt-4 ">
      <h5 class="m-0 uppercase md:text-2xl text-emerald-700">
        <i class="pi pi-gauge px-3  text-xl"></i>live score
      </h5>
    </div>
  </ng-template>
  <iframe
    src="https://www.scorebat.com/embed/livescore/?token=MjEyODMzXzE3NDgyNDc3NjFfNTEyYTk2MDQwMTgxODU2ZWVkZTA1NDkzMzc0MjNlNTE5MWIwMDYyZg=="
    width="100%"
    height="400px"
    title="live score"
    style="border: none;"></iframe>
</p-card>
