<div class="flex">
  <span class="mr-2 text-indigo-800 text-xl"><i class="fa-solid fa-table-list"></i></span> <app-title [title]="title"/>
</div>

<div class="bg-white rounded-lg shadow-md p-6 mt-6">
  <app-button-link [link]="link" [label]="label"/>
  @if(users.length>0){
    <table class="w-full text-left">
      <thead>
          <tr class="border-b">
              <th class="py-2 text-indigo-500">#</th>
              <th class="py-2 text-indigo-500">Administration</th>
              <th class="py-2 text-indigo-500">Email</th>
              <th class="py-2 text-indigo-500">Rôle</th>
              <th class="py-2 text-indigo-500">Actions</th>
          </tr>
      </thead>
      <tbody>
        @for(user of users; track $index) {
          <tr class="border-b border-indigo-100">
            <td class="py-2 text-gray-500">{{ $index+1}}</td>
            <td class="py-2 text-gray-500">{{ user.fullName }}</td>
            <td class="py-2 text-gray-500">{{ user.email }}</td>
            <td class="py-2 text-gray-500">{{ user.role }}</td>
            <td class="py-2">
                <a [routerLink]="['/secured/dashboard/register/show',user.id]" class="text-blue-500 hover:text-blue-700" pTooltip="Mise à jour" tooltipPosition="top">
                    <i class="pi pi-pencil"></i>
                </a>
                <a class="text-red-500 hover:text-red-700 ml-2" (click)="onDelete(user.id)" pTooltip="Suppression" tooltipPosition="top">
                    <i class="pi pi-trash"></i>
                </a>
            </td>
          </tr>
        }


      </tbody>
  </table>
  }
  @else {
    <p class="border-b border-indigo-100">Pas d'administrateur</p>
  }

</div>
